* {
  padding: 0;
  margin: 0;
}

a {
  color: white;
}
html {
  height: 100%;
  background-color: #000;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  margin: 0 auto;
  margin-bottom: 50px;
  color: white;
  max-width: 475px;
  height: 100%;
  overflow: auto;
}

#sharing {
  position: absolute;
  width: 60%;
  bottom: 25px;
  margin-left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
}

#wideHeader {
  display: none;
}

#displaycard {
  position: relative;
  overflow: hidden;
}

#content {
  position: absolute;
  left: 0;
  background-color: #141414;
  height: 100vh;
  z-index: 10;
}
#contentMinus1 {
  position: absolute;
  background-color: #141414;
  max-width: 475px;
  height: 100vh;
  display: none;
  z-index: 1;
}
#contentPlus1 {
  position: absolute;
  background-color: #141414;
  max-width: 475px;
  height: 100vh;
  display: none;
  z-index: 1;
}

#content,
#contentMinus1,
#contentPlus1 {
}

#mainHeader,
#mainHeaderPlus1,
#mainHeaderMinus1 {
  font-size: 23px;
  font-weight: normal;
  padding: 11px;
  text-align: center;
}

#imageContainer,
#imageContainerPlus1,
#imageContainerMinus1 {
  position: relative;
  max-height: 210px;
  min-height: 210px;
  overflow: hidden;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

#eventPoster,
#eventPosterPlus1,
#eventPosterMinus1 {
  position: relative;
  top: 0px;
  width: 100vw;
  max-width: 475px;
  z-index: 100;
}
#eventPoster,
#eventPosterPlus1,
#eventPosterMinus1:hover {
  cursor: pointer;
  z-index: 100;
}

#mainTime,
#mainTimePlus1,
#mainTimeMinus1 {
  text-align: center;
  position: relative;
  padding-top: 10px;
  padding-bottom: 6px;
  font-weight: bold;
  font-size: 1.1rem;
  color: #d2af4b;
  border-bottom: 4px solid black;

  background-color: #141414;
}

#expandLess,
#expandPlus1,
#expandMinus1 {
  position: absolute;
  font-size: 30px;
  font-weight: lighter;
  right: 6px;
  bottom: 1px;
  color: silver;
  display: none;
}

#expandLess,
#expandPlus1,
#expandMinus1:hover {
  cursor: pointer;
  display: none;
  bottom: 1px;
}
#expandMore,
#expandPlus1,
#expandMinus1 {
  position: absolute;
  font-size: 30px;
  font-weight: lighter;
  right: 6px;
  bottom: -4px;
  color: silver;
  bottom: 1px;
}

#expandMore,
#expandPlus1,
#expandMinus1:hover {
  cursor: pointer;
  bottom: 1px;
}

#mainCard,
#mainCardPlus1,
#mainCardMinus1 {
  display: grid;
  grid-template-columns: 45% 10% 45%;
  width: 100%;
  font-size: 1.1rem;
}

#prelimsTime,
#prelimsTimePlus1,
#prelimsTimeMinus1 {
  text-align: center;
  position: relative;
  padding: 5px;
  font-weight: bold;
  font-size: 1.15rem;
  color: #d2af4b;
  border-bottom: 4px solid black;
  border-top: 4px solid black;
  background-color: #141414;
}

#prelimsCard,
#prelimsCardPlus1,
#prelimsCardMinus1 {
  display: grid;
  grid-template-columns: 45% 9% 45%;
  width: 100%;
  font-size: 1.1rem;
  padding-bottom: 120px;
}

.left,
.leftPlus1,
.leftMinus1 {
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: right;
  padding-right: 6px;
  background-color: #242424;
}

.left:nth-child(odd),
.leftPlus1:nth-child(odd),
.leftMinus1:nth-child(odd) {
  background-color: #181818;
}

.middle,
.middlePlus1,
.middleMinus1 {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 4px;
  padding-right: 4px;
  text-align: center;
  background-color: #242424;
  border-right: 4px solid black;
  border-left: 4px solid black;
}

.middle:nth-child(even),
.middlePlus1:nth-child(even),
.middleMinus1:nth-child(even) {
  background-color: #181818;
}
.right,
.rightPlus1,
.rightMinus1 {
  padding: 6px;
  text-align: left;
  padding-left: 6px;
  background-color: #242424;
}

.right:nth-child(odd),
.rightPlus1:nth-child(odd),
.rightMinus1:nth-child(odd) {
  background-color: #181818;
}
.detailsLeft,
.detailsLeftPlus1,
.detailsLeftMinus1 {
  display: flex;
  justify-content: space-around;
  padding-top: 5px;
  font-size: 0.75rem;
  display: none;
}
.detailsRight,
.detailsRightPlus1,
.detailsRightMinus1 {
  display: flex;
  justify-content: space-around;
  padding-top: 5px;
  font-size: 0.75rem;
  display: none;
}
.detailsMiddle,
.detailsMiddleMinus1,
.detailsMiddlePlus1 {
  font-size: 0.9rem;
  padding-top: 5px;
  display: flex;
  justify-content: space-around;
  display: none;
}
/*side nav*/

#sideNav {
  position: absolute;
  color: white;
  top: 0;
  right: 0%;
  width: 0%;
  max-width: 325px;
  min-height: 100vh;
  background-color: #000000;
  transition-duration: 0.3s;
  z-index: 100;
  white-space: nowrap;
  overflow: hidden;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#eventList {
  font-size: 1.2rem;
  margin-top: 75px;
  text-align: right;
}

.eventLink {
  min-width: 300;
  padding-right: 25px;
  margin-left: 20px;
  padding-left: 15px;
  padding-top: 11px;
  padding-bottom: 7px;
  border-bottom: 1px solid #2c2c2c;
  box-sizing: content-box;
}

.eventLink:hover {
  cursor: pointer;
  color: #000000;
  background-color: #d2af4b;
}

.eventLinkDate {
  float: left;
  font-weight: normal;
}

.eventLinkDate {
  position: absolute;
  font-weight: normal;
  left: 25px;
}
.eventIcons {
  position: absolute;
  max-height: 25px;
  left: 15px;
  transform: translateY(-2px);
  border-radius: 50%;
  display: none;
}

.hamburger {
  position: absolute;
  background-color: #141414;
  right: 6px;
  top: 4px;
  transform: scale(0.55) translateY(-6px);
  z-index: 1000;
  -webkit-tap-highlight-color: transparent;
  transition-duration: 0s;
}

a {
  text-decoration: none;
}

/* GRID */

.twelve {
  width: 100%;
}
.eleven {
  width: 91.53%;
}
.ten {
  width: 83.06%;
}
.nine {
  width: 74.6%;
}
.eight {
  width: 66.13%;
}
.seven {
  width: 57.66%;
}
.six {
  width: 49.2%;
}
.five {
  width: 40.73%;
}
.four {
  width: 32.26%;
}
.three {
  width: 23.8%;
}
.two {
  width: 15.33%;
}
.one {
  width: 6.866%;
}

/* COLUMNS */

.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
}

.col:first-of-type {
  margin-left: 0;
}

.container {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

/* CLEARFIX */

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/* ALL */

.row .three {
  padding: 80px 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #2c3e50;
  color: #ecf0f1;
  text-align: center;
}

.hamburger .line {
  width: 48px;
  height: 5px;
  background-color: white;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.hamburger:hover {
  cursor: pointer;
}

/* ONE */

#hamburger-1.is-active .line:nth-child(2) {
  opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1) {
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
}

#dim {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.2;
  z-index: 100;
  display: none;
}

#settings {
  position: absolute;
  background-color: black;
  width: 100%;
  max-width: 420px;
  height: 0;
  top: 100%;
  bottom: 0;
  right: 0;
  z-index: 100000;
  transition: 0.3s;
  overflow: hidden;
}

#settingsHeader {
  margin-top: 80px;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}

.setting {
  display: grid;
  grid-template-columns: auto 50px;
  padding: 15px;
  padding-left: 30px;
  border-top: 1px solid rgba(226, 226, 226, 0.178);
  box-sizing: border-box;
}

#settingsIcon {
  font-size: 30px;
  color: silver;
  margin-right: 75%;
  transform: translateY(-30px);
}
#closeSettings {
  position: fixed;
  font-size: 35px;
  right: -58px;
  top: 6px;
}
.switch {
  position: relative;
  display: inline-block;
  margin-top: 4px;
  width: 18px;
  height: 8px;
  transform: scale(1.5);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(204, 204, 204);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: -4px;
  bottom: 2px;
  background-color: rgb(243, 243, 243);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translateY(5px);
  -ms-transform: translateY(5px);
  transform: translateY(5px);
}

input:checked + .slider {
  background-color: #a88f8f;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ecb7b7;
}

input:checked + .slider:before {
  -webkit-transform: translate(13px, 5px);
  -ms-transform: translate(13px, 5px);
  transform: translate(13px, 5px);
  background-color: rgb(143, 44, 44);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

@media only screen and (max-width: 405px) {
  #mainTime,
  #mainTimeMinus1,
  #mainTimePlus1 {
    font-size: 1.05rem;
  }
  #mainCard,
  #mainCardMinus1,
  #mainCardPlus1 {
    font-size: 1rem;
  }
  #prelisTime,
  #prelisTimeMinus1,
  #prelisTimePlus1 {
    font-size: 1.05rem;
  }
  #prelimsCard,
  #prelimsCardMinus1,
  #prelimsCardPlus1 {
    font-size: 1.05rem;
  }
  #eventList {
    font-size: 1.1rem;
    margin-top: 75px;
    text-align: right;
  }

  .eventLink {
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    padding-top: 8px;
    padding-bottom: 4px;
    box-sizing: content-box;
  }
  .setting {
    font-size: 1.1rem;
    padding: 9px;
    margin-top: 8px;
    margin-bottom: 7px;
    padding: 4px;
    margin-left: 15px;
    margin-right: 5px;
  }
  .switch {
    transform: scale(1.1);
    margin-right: 0px;
  }
  .eventLink {
    font-size: 1.1rem;
  }
  .socialIcon {
    max-height: 50px;
    max-width: 50px;
    border-radius: 50%;
  }
}

@media only screen and (max-width: 365px) {
  #mainTime,
  #mainTimeMinus1,
  #mainTimePlus1 {
    padding: 6px;
    padding-top: 9px;
    font-size: 0.9rem;
  }

  #hamburger-1 {
    top: 6;
  }

  #mainCard,
  #mainCardMinus1,
  #mainCardPlus1 {
    font-size: 0.9rem;
  }
  #prelimsTime,
  #prelimsTimeMinus1,
  #prelimsTimePlus1 {
    font-size: 0.9rem;
  }
  #prelimsCard,
  #prelimsCardMinus1,
  #prelimsCardPlus1 {
    font-size: 0.9rem;
  }
  #eventList {
    font-size: 1.1rem;
    margin-top: 75px;
    text-align: right;
  }

  .eventLink {
    min-width: 300;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    padding-top: 12px;
    padding-bottom: 8px;
    box-sizing: content-box;
  }
  .setting {
    font-size: 0.9rem;
    padding: 9px;
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 6px;
  }
  .switch {
    transform: scale(0.9);
    margin-right: 30px;
  }
  .eventLink {
    font-size: 1rem;
  }
  .socialIcon {
    max-height: 50px;
    max-width: 50px;
    border-radius: 50%;
  }

  #settingsHeader {
    margin-top: 45px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
  }
  #imageContainer,
  #imageContainerMinus1,
  #imageContainerPlus1 {
    max-height: 190px;
    min-height: 190px;
  }

  #settings {
  }
}

#testDiv,
#testDivMinus1,
#testDivPlus1 {
  position: absolute;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  background-color: rgba(255, 255, 255, 0.884);
  color: black;
  height: 50px;
  width: 205px;
  margin-left: 50%;
  transform: translateX(-50%);
  bottom: 12px;
  z-index: 1000;
}

ul {
  position: absolute;
  width: 135px;
  bottom: 0;
  padding-inline-start: 0px;
  top: 0px;
  right: 0;
}

li {
  font-family: arial;
  display: inline-block;
  text-align: center;
  font-size: 9px;
  font-weight: bold;
  list-style-type: none;
  text-transform: uppercase;
  padding-bottom: 3px;
}

li span {
  height: 26px;
  border-radius: 1px;
  display: block;
  font-size: 25px;
  font-weight: normal;
  width: 30px;
  margin: 2px 0px;
  padding: 2px 3px;
}

#countToggleMain,
#countToggleMainMinus1,
#countToggleMainPlus1 {
  display: block;
  width: 60px;
  text-align: center;
}

#countTogglePrelims,
#countTogglePrelimsMinus1,
#countTogglePrelimsPlus1 {
  display: none;
  width: 60px;
  text-align: center;
}

.y {
  height: 20px;
  font-weight: bold;
  width: 100%;
  margin-top: 0px;
  margin-left: 5px;
  font-weight: normal;
  font-size: 14px;
}

.y:hover {
  filter: brightness(1.1);
}

#countdownMain,
#countdownMainMinus1,
#countdownMainPlus {
  display: block;
}

#countdownPrelims,
#countdownPrelimsMinus1,
#countdownPrelimsPlus1 {
  display: none;
}

#toggleIcon1,
#toggleIcon2,
#toggleIcon1Minus1,
#toggleIcon2Minus1,
#toggleIcon1Plus1,
#toggleIcon2Plus1 {
  font-size: 11px;
  margin-top: 12px;
  margin-left: 10px;
}

#leftCurve,
#leftCurveMinus1,
#leftCurvePlus1 {
  position: absolute;
  background-color: none;
  height: 0px;
  width: 20px;
  left: -20px;
  bottom: -5px;
  border-right: 0px solid white;
  border-bottom: 0px solid white;
  border-bottom-right-radius: 15px;
}

#rightCurve,
#rightCurveMinus1,
#rightCurvePlus {
  position: absolute;
  background-color: none;
  height: 00px;
  width: 20px;
  right: -20px;
  bottom: -5px;
  border-left: 0px solid white;
  border-bottom: px solid white;
  border-bottom-left-radius: 15px;
}
#line,
#lineMinus1,
#linePlus1 {
  position: absolute;
  width: 107%;
  height: 1px;
  background-color: rgb(238, 238, 238);
  bottom: 3px;
  left: -7px;
  z-index: 10000;
}
#shareContainer {
  position: absolute;
  bottom: 50px;
  padding-top: 5px;
  height: 125px;
  width: 100%;
  margin: 0 auto;
  background-color: none;
  text-align: center;
  font-size: 18px;
}

#sharePartition {
  position: absolute;
  height: 0px;
  width: 80%;
  top: 0;
  left: 8%;

  background-color: rgba(94, 94, 94, 0.151);
}

#sharing {
  position: absolute;
  width: 40%;
  bottom: 15px;
  margin-left: 52%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
}

.socialIcon {
  max-height: 50px;
  max-width: 50px;
  border-radius: 50%;
}

#shareIcon {
  margin: 6px;
  transform: translateY(6px);
}

@media only screen and (min-width: 475px) {
  html {
    background-color: rgb(0, 0, 0);
    overflow-y: scroll;
  }

  body {
    margin-top: 0vh;
    max-width: 475px;
    height: 100vh;
  }

  #content {
    height: 100vh;
    box-shadow: 0 0 15px 0px;
  }

  #expandMore {
    cursor: pointer;
  }

  #dim {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: -200px;
    background-color: black;
    opacity: 0.5;
    z-index: 100;
    display: none;
  }

  #shareContainer {
    bottom: 100px;
  }

  #settings {
    position: fixed;
    left: auto;
    right: auto;
    max-width: 475px;
    width: 475px;
  }
  #closeSettings {
    position: absolute;
    top: 50px;
  }
  #closeSettings:hover {
    cursor: pointer;
  }
  #settingsIcon:hover {
    cursor: pointer;
  }
}

#shareIconTop {
  position: absolute;
  left: 20px;
  top: 10px;
  color: silver;
}

#shareIconTop:hover {
  cursor: pointer;
}

#sharingTop {
  position: absolute;
  display: none;
  flex-direction: column;
  width: 50px;
  height: 104px;
  top: 49px;
  left: 0px;
  z-index: 10000000;
  background-color: rgba(36, 36, 36, 0.555);
  padding: 4px;

  border-bottom-right-radius: 6px;
}

.r {
  border-radius: 6%;
}

@media only screen and (min-width: 825px) {
  html {
    background-color: rgb(131, 131, 131);
    overflow-y: unset;
  }

  #shareIconTop {
    display: none;
  }

  body {
    margin-top: 0vh;
    max-width: 825px;

    max-height: unset;
    height: 125vh;
  }

  #hamburger-1 {
    visibility: hidden;
  }

  #content {
    box-shadow: 0 0 0px 0px;
    max-height: unset;
    height: 125vh;
  }

  #sideNav {
    min-width: 350px;
    background-color: rgba(0, 0, 0, 0.87);

    box-sizing: border-box;
  }

  #expandMore {
    cursor: pointer;
  }

  #dim {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: -200px;
    background-color: black;
    opacity: 0;
    z-index: 100;
    display: none;
  }

  #shareContainer {
    bottom: 200px;
    display: none;
  }

  #settings {
    position: absolute;
    background-color: black;
    left: auto;
    right: auto;
    margin-top: -13px;
    max-width: 475px;
    transform: translateY(50px);
    width: 475px;
    transition-duration: 0s;
  }
  #closeSettings {
    position: absolute;
    top: 50px;
    right: 50px;
  }
  #closeSettings:hover {
    cursor: pointer;
  }
  #settingsIcon:hover {
    cursor: pointer;
  }
}

#leftArrow {
  position: fixed;
  right: 0;
  top: 35%;
  margin-right: 50%;
  transform: translateX(-350px);
  color: rgb(233, 233, 233);
  font-size: 200px;
  z-index: 100000000;
}

#rightArrow {
  position: fixed;
  left: 0;
  top: 35%;
  margin-left: 50%;
  transform: translateX(350px);
  color: rgb(233, 233, 233);
  font-size: 200px;
  z-index: 100000000;
}

#leftArrow:hover {
  cursor: pointer;
  font-size: 200px;
  color: rgb(197, 197, 197);
}

#rightArrow:hover {
  cursor: pointer;
  font-size: 200px;
  color: rgb(197, 197, 197);
}

#keyboard {
  position: fixed;
  left: 0;
  bottom: 0;
  margin-left: 50%;
  margin-bottom: 5px;
  transform: translateX(300px);
  font-weight: 18px;
}

#leftArrow {
  display: none;
}

#rightArrow {
  display: none;
}

#keyboard {
  display: none;
}

#videoGallery {
  margin: 50px auto;
  width: 90%;
  margin-bottom: 50px;
}

.youtube-player {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
  margin: 0px;
}

.youtube-player iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: transparent;
}

.youtube-player img {
  object-fit: cover;
  display: block;
  left: 0;
  bottom: 0;
  margin: auto;
  max-width: 100%;
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  height: auto;
  cursor: pointer;
  -webkit-transition: 0.4s all;
  -moz-transition: 0.4s all;
  transition: 0.4s all;
}

.youtube-player img:hover {
  -webkit-filter: brightness(75%);
}

.youtube-player .play {
  height: 72px;
  width: 72px;
  left: 50%;
  top: 50%;
  margin-left: -36px;
  margin-top: -36px;
  position: absolute;
  background: url("images/youtubePlay.png") no-repeat;
  cursor: pointer;
}
