* {
  padding: 0;
  margin: 0;
}

a {
  color: black;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  position: relative;
  height: 100vh;
  max-width: 450px;
  margin: 0 auto;
}

#displayCard {
  max-width: 450px;
  margin: 0 auto;
}

#mainHeader {
  text-align: center;
  padding: 8px 0px;
}

#imageContainer {
  max-height: 220px;
  overflow: hidden;
}

#eventPoster {
  transform: translateY(-2%);
  top: 0;
  width: 100%;
  z-index: 2;
}
#eventPoster:hover {
  cursor: pointer;
}

#mainTime {
  text-align: center;
  margin: 10px;
  font-weight: bold;
  font-size: 1.2rem;
}

#expand {
  position: absolute;
  font-size: 25px;
  font-weight: lighter;
  right: 13px;
  transform: translateY(-32px);
}

#expand:hover {
  cursor: pointer;
}

#mainCard {
  display: grid;
  grid-template-columns: 45% 10% 45%;
  width: 100%;
  font-size: 1.1rem;
}

#prelimsTime {
  text-align: center;
  margin: 10px;
  font-weight: bold;
  font-size: 1.2rem;
}

#prelimsCard {
  display: grid;
  grid-template-columns: 45% 10% 45%;
  width: 100%;
  font-size: 1.1rem;
}

#left {
  padding: 7px;
  text-align: right;
  padding-right: 8px;
}
#middle {
  padding: 7px;
  text-align: center;
  min-width: 40px;
}
#right {
  padding: 7px;
  text-align: left;
  padding-left: 8px;
}

.detailsLeft {
  display: flex;
  justify-content: space-around;
  padding-top: 5px;
  font-size: 0.9rem;
}
.detailsRight {
  display: flex;
  justify-content: space-around;
  padding-top: 5px;
  font-size: 0.9rem;
}
.detailsVS {
  display: block;
  font-size: 0.9rem;
  padding-top: 5px;
}

#buttons {
  position: absolute;
  padding: 10px 50px;
  top: 245px;
  left: 15%;
  transform: translateX(-50%);
}

button {
  font-size: 18px;
  padding: 3px 5px;
}

/*side nav*/

#sideNav {
  position: absolute;
  top: 0;
  right: 0%;
  width: 0%;
  height: 0%;
  min-height: 100vh;
  background-color: rgb(247, 247, 247);
  transition-duration: 0.3s;
  overflow: hidden;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#eventList {
  font-size: 1.2rem;
  margin-top: 100px;
  text-align: right;
  margin-left: 20px;
  margin-right: 15px;
}

.eventLink {
  min-width: 300;
  padding-top: 20px;
  border-bottom: 1px solid rgb(243, 243, 243);
}

.eventLink:hover {
  cursor: pointer;
  color: white;
  background-color: rgb(212, 39, 39);
}

.eventLinkDate {
  float: left;
  font-weight: normal;
  display: none;
}

.eventLinkText {
  min-width: 80px;
}

/*hamburger*/

.hamburger {
  position: absolute;
  right: 0px;
  transform: scale(0.5);
  z-index: 2;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
}

/* GRID */

.twelve {
  width: 100%;
}
.eleven {
  width: 91.53%;
}
.ten {
  width: 83.06%;
}
.nine {
  width: 74.6%;
}
.eight {
  width: 66.13%;
}
.seven {
  width: 57.66%;
}
.six {
  width: 49.2%;
}
.five {
  width: 40.73%;
}
.four {
  width: 32.26%;
}
.three {
  width: 23.8%;
}
.two {
  width: 15.33%;
}
.one {
  width: 6.866%;
}

/* COLUMNS */

.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
}

.col:first-of-type {
  margin-left: 0;
}

.container {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

/* CLEARFIX */

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/* ALL */

.row .three {
  padding: 80px 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #2c3e50;
  color: #ecf0f1;
  text-align: center;
}

.hamburger .line {
  width: 45px;
  height: 5px;
  background-color: black;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.hamburger:hover {
  cursor: pointer;
}

/* ONE */

#hamburger-1.is-active .line:nth-child(2) {
  opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1) {
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
}

ul {
  position: absolute;
  top: 196px;
  left: 0;
  right: 0;
  max-width: 453px;
  width: 100%;
  padding-inline-start: 0px;
  margin-top: 6px;
  padding: 4px 0;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));
}

li {
  font-family: arial;
  color: black;
  display: inline-block;
  font-size: 9px;
  font-weight: bold;
  list-style-type: none;
  text-transform: uppercase;
}

li span {
  height: 26px;
  border-radius: 1px;
  display: block;
  font-size: 27px;
  font-weight: normal;
  background-color: rgba(255, 255, 255, 0.671);
  width: 30px;
  color: #000;
  margin: 3px;
  padding: 5px;
}

#mainCountdown {
  max-width: 200px;
  text-align: center;
  margin: 10px auto;
}

.x {
  background-color: #f3f3f3;
  color: #000;
  width: 100%;
  font-weight: normal;
  font-size: 13px;
  padding: 2px;
  margin: auto;
}
.y {
  background-color: #c2c2c2;
  color: #000000;
  width: 100%;
  font-size: 13px;
  font-weight: normal;
  padding: 2px;
  margin: auto;
}

.y:hover {
  filter: brightness(1.1);
}

.x:hover {
  filter: brightness(1.1);
}
