* {
  padding: 0;
  margin: 0;
}

a {
  color: black;
}
html {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  position: relative;
  margin: 0 auto;
  max-width: 450px;
  margin-bottom: 50px;
}

#wideHeader {
  display: none;
}

#displaycard {
  position: relative;
  overflow: hidden;
  max-width: 450px;
}

#content {
  position: absolute;
  max-width: 450px;
  left: 0;
  background-color: white;
  height: 100vh;
  z-index: 10;
}

#contentMinus1 {
  position: absolute;
  background-color: white;
  max-width: 475px;
  height: 100vh;
  display: none;
  z-index: 1;
}
#contentPlus1 {
  position: absolute;
  background-color: white;
  max-width: 475px;
  height: 100vh;
  display: none;
  z-index: 1;
}

#content,
#contentMinus1,
#contentPlus1 {
}

#mainHeader,
#mainHeaderPlus1,
#mainHeaderMinus1 {
  text-align: center;
  padding: 8px 0px;
}

#imageContainer,
#imageContainerPlus1,
#imageContainerMinus1 {
  position: relative;
  max-height: 220px;
  overflow: hidden;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

#eventPoster,
#eventPosterPlus1,
#eventPosterMinus1 {
  position: relative;
  top: 0;
  width: 100vw;
  max-width: 475px;
  z-index: 100;
}
#eventPoster,
#eventPosterPlus1,
#eventPosterMinus1:hover {
  cursor: pointer;
  z-index: 100;
}

#mainTime,
#mainTimePlus1,
#mainTimeMinus1 {
  text-align: center;
  margin: 10px;
  font-weight: bold;
  font-size: 1.1rem;
}

#expand,
#expandPlus1,
#expandMinus1 {
  position: absolute;
  font-size: 25px;
  font-weight: lighter;
  right: 13px;
  transform: translateY(-32px);
}

#expand,
#expandPlus1,
#expandMinus1:hover {
  cursor: pointer;
}

#mainCard,
#mainCardPlus1,
#mainCardMinus1 {
  display: grid;
  grid-template-columns: 45% 10% 45%;
  width: 100%;
  font-size: 1.1rem;
}

#prelimsTime,
#prelimsTimePlus1,
#prelimsTimeMinus1 {
  text-align: center;
  margin: 10px;
  font-weight: bold;
  font-size: 1.1rem;
}

#prelimsCard,
#prelimsCardPlus1,
#prelimsCardMinus1 {
  display: grid;
  grid-template-columns: 45% 10% 45%;
  width: 100%;
  font-size: 1.1rem;
}

#left,
#leftPlus1,
#leftMinus1 {
  padding: 7px;
  text-align: right;
  padding-right: 8px;
}
#middle,
#middlePlus1,
#middleMinus1 {
  padding: 7px;
  text-align: center;
}
#right,
#rightPlus1,
#rightMinus1 {
  padding: 7px;
  text-align: left;
  padding-left: 8px;
}

.detailsLeft,
.detailsLeftPlus1,
.detailsLeftMinus1 {
  display: flex;
  justify-content: space-around;
  padding-top: 5px;
  font-size: 0.9rem;
  display: none;
}
.detailsRight,
.detailsRightPlus1,
.detailsRightMinus1 {
  display: flex;
  justify-content: space-around;
  padding-top: 5px;
  font-size: 0.9rem;
  display: none;
}
.detailsVS,
.detailsVSPlus1,
.detailsVSMinus1 {
  display: block;
  font-size: 0.9rem;
  padding-top: 5px;
  display: none;
}

/*side nav*/

#sideNav {
  position: absolute;
  top: 0;
  right: 0%;
  width: 0%;
  max-width: 350px;
  height: 0%;
  min-height: 100vh;
  background-color: rgb(247, 247, 247);
  transition-duration: 0.3s;
  z-index: 100;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#eventList {
  font-size: 1.2rem;
  margin-top: 100px;
  text-align: right;
}

.eventLink {
  min-width: 300;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  padding-top: 12px;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(243, 243, 243, 0.925);
  box-sizing: content-box;
}

.eventLink:hover {
  cursor: pointer;
  color: white;
  background-color: rgba(212, 39, 39, 0.822);
}

.eventLinkDate {
  float: left;
  font-weight: normal;
}

.eventLinkText {
  min-width: 80px;
}

/*hamburger*/

.hamburger {
  position: absolute;
  top: 0;
  right: 0px;
  transform: scale(0.5);
  z-index: 1000;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
}

/* GRID */

.twelve {
  width: 100%;
}
.eleven {
  width: 91.53%;
}
.ten {
  width: 83.06%;
}
.nine {
  width: 74.6%;
}
.eight {
  width: 66.13%;
}
.seven {
  width: 57.66%;
}
.six {
  width: 49.2%;
}
.five {
  width: 40.73%;
}
.four {
  width: 32.26%;
}
.three {
  width: 23.8%;
}
.two {
  width: 15.33%;
}
.one {
  width: 6.866%;
}

/* COLUMNS */

.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
}

.col:first-of-type {
  margin-left: 0;
}

.container {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

/* CLEARFIX */

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/* ALL */

.row .three {
  padding: 80px 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #2c3e50;
  color: #ecf0f1;
  text-align: center;
}

.hamburger .line {
  width: 45px;
  height: 5px;
  background-color: black;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.hamburger:hover {
  cursor: pointer;
}

/* ONE */

#hamburger-1.is-active .line:nth-child(2) {
  opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1) {
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
}

#testDiv {
  position: absolute;
  height: 50px;
  width: 156px;
  margin-left: auto;
  margin-right: auto;
  left: 12px;
  right: 0;
  bottom: 2px;
  z-index: 1000;
  display: none;
}

ul {
  position: absolute;
  bottom: 0;
  width: 159px;
  padding-inline-start: 0px;
  margin-top: 6px;
  margin-left: auto;
  margin-right: auto;
  left: 12px;
  right: 0;
  padding: 4px 0;
}

li {
  font-family: arial;
  color: black;
  background-color: rgba(255, 255, 255, 0.795);
  display: inline-block;
  text-align: center;
  font-size: 9px;
  font-weight: bold;
  list-style-type: none;
  text-transform: uppercase;
  padding-bottom: 3px;
}

li span {
  height: 26px;
  border-radius: 1px;
  display: block;
  font-size: 27px;
  font-weight: normal;
  width: 30px;
  color: #000;
  margin: 3px;
  padding: 0px 5px;
}

#mainCountdown {
  max-width: 200px;
  text-align: center;
  margin: 10px auto;
}

.x {
  background-color: #f3f3f3;
  color: #000;
  width: 100%;
  font-weight: normal;
  font-size: 13px;
  padding: 2px;
  margin: auto;
}
.y {
  background-color: #c2c2c2;
  color: #000000;
  width: 100%;
  font-size: 13px;
  font-weight: normal;
  padding: 2px;
  margin: auto;
}

.y:hover {
  filter: brightness(1.1);
}

.x:hover {
  filter: brightness(1.1);
}

#dim {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.25;
  z-index: 100;
  display: none;
}

@media only screen and (min-width: 1000px) {
  #displayCard {
    position: absolute;
    width: 450px;
    left: 60%;
    transform: translateX(-50%);
  }
  .hamburger {
    position: fixed;
    top: 0;
    right: 10px;
    transform: scale(0.5);
    z-index: 1000;
    -webkit-tap-highlight-color: transparent;
    display: none;
  }
  #sideNav {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    min-height: 100vh;
    background-color: rgb(247, 247, 247);
    z-index: 100;
  }

  body {
    margin-top: 100px;
    max-width: 1000px;
    position: relative;
  }
  #content {
    position: absolute;
    width: 450px;
    left: 0;
    background-color: white;
    height: 100vh;
    z-index: 10;
  }
  #mainTime {
    font-size: 1.3rem;
  }
  #prelimsTime {
    font-size: 1.3rem;
  }

  #imageContainer {
    position: fixed;
    left: -400px;
    top: 125px;
    display: block;
    overflow: visible;
  }

  #eventPoster {
    width: 350px;
  }
  .eventLink {
    padding-right: 20px;
  }
  #testDiv {
    position: fixed;
    top: 0px;
    left: -875px;
    transform: scale(2);
    display: block;
  }
  li {
    background-image: linear-gradient(rgb(245, 245, 245), rgb(245, 245, 245));
    display: inline-block;
    font-size: 6px;
  }
  li span {
    font-size: 20px;
    height: 20px;
    width: 20px;
  }

  #wideHeader {
    position: fixed;
    display: flex;
    height: 40px;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(206, 206, 206, 0.514);
    z-index: 25000;
  }

  .promotionLink {
    color: rgb(0, 0, 0);
    display: inline;
    padding: 10px 80px;
    font-size: 22px;
    line-height: 35px;
    background-color: rgba(206, 206, 206, 0.445);
    margin: 1px;
  }
  .promotionLink:hover {
    cursor: pointer;
    background-color: rgba(238, 238, 238, 0.514);
  }
}
