* {
  padding: 0;
  margin: 0;
}

a {
  color: black;
}
html {
  height: 100%;
  width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  margin: 0 auto;
  color: rgb(20, 20, 20);
  max-width: 475px;
  height: 100%;
  overflow: auto;
}

#sharing {
  position: absolute;
  width: 60%;
  bottom: 25px;
  margin-left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
}

.socialIcon {
  max-height: 50px;
  border-radius: 50%;
}

#displaycard {
  position: relative;
  overflow: hidden;
}

#content {
  position: absolute;
  left: 0;
  background-color: white;
  height: 100vh;
  z-index: 10;
}

#contentMinus1 {
  position: absolute;
  background-color: white;
  max-width: 475px;
  height: 100vh;
  display: none;
  z-index: 1;
}
#contentPlus1 {
  position: absolute;
  background-color: white;
  max-width: 475px;
  height: 100vh;
  display: none;
  z-index: 1;
}

#content,
#contentMinus1,
#contentPlus1 {
}

#mainHeader,
#mainHeaderPlus1,
#mainHeaderMinus1 {
  text-align: center;
  padding: 8px 0px;
}

#imageContainer,
#imageContainerPlus1,
#imageContainerMinus1 {
  position: relative;
  max-height: 210px;
  min-height: 210px;
  overflow: hidden;
}

.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}

#eventPoster,
#eventPosterPlus1,
#eventPosterMinus1 {
  position: relative;
  top: 0;
  width: 100vw;
  max-width: 475px;
  z-index: 100;
}
#eventPoster,
#eventPosterPlus1,
#eventPosterMinus1:hover {
  cursor: pointer;
  z-index: 100;
}

#mainTime,
#mainTimePlus1,
#mainTimeMinus1 {
  text-align: center;
  position: relative;
  margin: 10px;
  font-weight: bold;
  font-size: 1.1rem;
}
#expandLess,
#expandPlus1,
#expandMinus1 {
  position: absolute;
  font-size: 30px;
  font-weight: lighter;
  right: 6px;
  bottom: -4px;
  color: black;
  display: none;
}

#expandLess,
#expandPlus1,
#expandMinus1:hover {
  cursor: pointer;
  display: none;
}
#expandMore,
#expandPlus1,
#expandMinus1 {
  position: absolute;
  font-size: 30px;
  font-weight: lighter;
  right: 6px;
  bottom: -4px;
  color: black;
}

#mainCard,
#mainCardPlus1,
#mainCardMinus1 {
  display: grid;
  grid-template-columns: 45% 10% 45%;
  width: 100%;
  font-size: 1.1rem;
}

#prelimsTime,
#prelimsTimePlus1,
#prelimsTimeMinus1 {
  text-align: center;
  margin: 10px;
  font-weight: bold;
  font-size: 1.1rem;
}

#prelimsCard,
#prelimsCardPlus1,
#prelimsCardMinus1 {
  display: grid;
  grid-template-columns: 45% 10% 45%;
  width: 100%;
  font-size: 1.1rem;
  padding-bottom: 100px;
}

.left,
.leftPlus1,
.leftMinus1 {
  padding: 7px;
  text-align: right;
  padding-right: 8px;
  background-color: white;
}

.left:nth-child(odd),
.leftPlus1:nth-child(odd),
.leftMinus1:nth-child(odd) {
  background-color: rgb(241, 241, 241);
}

.middle,
.middlePlus1,
.middleMinus1 {
  padding: 8px;
  text-align: center;
  background-color: white;
}

.middle:nth-child(even),
.middlePlus1:nth-child(even),
.middleMinus1:nth-child(even) {
  background-color: rgb(241, 241, 241);
}
.right,
.rightPlus1,
.rightMinus1 {
  padding: 7px;
  text-align: left;
  padding-left: 8px;
  background-color: white;
}

.right:nth-child(odd),
.rightPlus1:nth-child(odd),
.rightMinus1:nth-child(odd) {
  background-color: rgb(241, 241, 241);
}
.detailsLeft,
.detailsLeftPlus1,
.detailsLeftMinus1 {
  display: flex;
  justify-content: space-around;
  padding-top: 5px;
  font-size: 0.9rem;
  display: none;
}
.detailsRight,
.detailsRightPlus1,
.detailsRightMinus1 {
  display: flex;
  justify-content: space-around;
  padding-top: 5px;
  font-size: 0.9rem;
  display: none;
}
.detailsMiddle,
.detailsMiddleMinus1,
.detailsMiddlePlus1 {
  font-size: 0.9rem;
  padding-top: 5px;
  display: flex;
  justify-content: space-around;
  display: none;
}

/*side nav*/

#sideNav {
  position: absolute;
  top: 0;
  right: 0%;
  width: 0%;
  max-width: 350px;
  min-height: 100vh;
  background-color: rgb(247, 247, 247);
  transition-duration: 0.3s;
  z-index: 100;
  white-space: nowrap;
  overflow: hidden;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#eventList {
  font-size: 1.1rem;
  margin-top: 75px;
  text-align: right;
}

#share {
  position: absolute;
  left: 0;
}
#shareSquare {
  color: black;
}

.eventLink {
  min-width: 300;
  padding-right: 10px;
  margin-left: 18px;
  padding-left: 7px;
  padding-top: 12px;
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.158);
  box-sizing: content-box;
}

.eventLink:hover {
  cursor: pointer;
  color: white;
  background-color: rgba(212, 39, 39, 0.822);
}

.eventLinkDate {
  float: left;
  font-weight: normal;
}

.eventLinkText {
  min-width: 80px;
}

/*hamburger*/

.hamburger {
  position: absolute;
  top: 0;
  right: 0px;
  transform: scale(0.5);
  z-index: 1000;
  -webkit-tap-highlight-color: transparent;
}

a {
  text-decoration: none;
}

/* GRID */

.twelve {
  width: 100%;
}
.eleven {
  width: 91.53%;
}
.ten {
  width: 83.06%;
}
.nine {
  width: 74.6%;
}
.eight {
  width: 66.13%;
}
.seven {
  width: 57.66%;
}
.six {
  width: 49.2%;
}
.five {
  width: 40.73%;
}
.four {
  width: 32.26%;
}
.three {
  width: 23.8%;
}
.two {
  width: 15.33%;
}
.one {
  width: 6.866%;
}

/* COLUMNS */

.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1.6%;
}

.col:first-of-type {
  margin-left: 0;
}

.container {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

/* CLEARFIX */

.cf:before,
.cf:after {
  content: " ";
  display: table;
}

.cf:after {
  clear: both;
}

.cf {
  *zoom: 1;
}

/* ALL */

.row .three {
  padding: 80px 30px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #2c3e50;
  color: #ecf0f1;
  text-align: center;
}

.hamburger .line {
  width: 45px;
  height: 5px;
  background-color: black;
  display: block;
  margin: 8px auto;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.hamburger:hover {
  cursor: pointer;
}

/* ONE */

#hamburger-1.is-active .line:nth-child(2) {
  opacity: 0;
}

#hamburger-1.is-active .line:nth-child(1) {
  -webkit-transform: translateY(13px) rotate(45deg);
  -ms-transform: translateY(13px) rotate(45deg);
  -o-transform: translateY(13px) rotate(45deg);
  transform: translateY(13px) rotate(45deg);
}

#hamburger-1.is-active .line:nth-child(3) {
  -webkit-transform: translateY(-13px) rotate(-45deg);
  -ms-transform: translateY(-13px) rotate(-45deg);
  -o-transform: translateY(-13px) rotate(-45deg);
  transform: translateY(-13px) rotate(-45deg);
}

#testDiv {
  position: absolute;
  height: 60px;
  width: 228px;
  margin-left: 50%;
  transform: translateX(-50%);
  bottom: 0px;
  z-index: 1000;
}

ul {
  position: absolute;
  width: 147px;
  bottom: 0;
  padding-inline-start: 0px;
  margin-top: 6px;
  margin-bottom: 2px;
  right: 0;
  padding: 6px 0;
}

li {
  font-family: arial;
  color: black;
  background-color: rgb(255, 255, 255);
  display: inline-block;
  text-align: center;
  font-size: 9px;
  font-weight: bold;
  list-style-type: none;
  text-transform: uppercase;
  padding-bottom: 3px;
}

li span {
  height: 26px;
  border-radius: 1px;
  display: block;
  font-size: 27px;
  font-weight: normal;
  width: 30px;
  color: #000;
  margin: 3px;
  padding: 0px 5px;
}

#mainCountdown {
  max-width: 200px;
  text-align: center;
  margin: 10px auto;
}

.x {
  background-color: #f3f3f3;
  color: #000;
  width: 100%;
  font-weight: normal;
  font-size: 13px;
  padding: 2px;
  margin: auto;
}
.y {
  background-color: #c2c2c2;
  color: #000000;
  width: 100%;
  font-size: 13px;
  font-weight: normal;
  padding: 2px;
  margin: auto;
}

.y:hover {
  filter: brightness(1.1);
}

.x:hover {
  filter: brightness(1.1);
}

#dim {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.25;
  z-index: 100;
  display: none;
}

#settings {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 0vh;
  bottom: 0;
  z-index: 100000;
  transition: 0.4s;
  overflow: hidden;
}

#settingsHeader {
  margin-top: 100px;
  margin-bottom: 20px;
  width: 100%;
  text-align: center;
}

.setting {
  display: grid;
  grid-template-columns: auto 50px;
  padding: 15px;
  padding-left: 30px;
  border-top: 1px solid rgba(226, 226, 226, 0.178);
  box-sizing: border-box;
}

#settingsIcon {
  font-size: 30px;
  color: black;
  margin-right: 75%;
  transform: translateY(-60px);
}
#closeSettings {
  position: fixed;
  font-size: 31px;
  right: -58px;
  top: 8px;
}

h2 {
  font-size: 25px;
  font-weight: normal;
}

.switch {
  position: relative;
  display: inline-block;
  margin-top: 4px;
  width: 18px;
  height: 8px;
  transform: scale(1.5);
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(204, 204, 204);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: -4px;
  bottom: 2px;
  background-color: rgb(243, 243, 243);
  -webkit-transition: 0.2s;
  transition: 0.2s;
  -webkit-transform: translateY(6px);
  -ms-transform: translateY(6px);
  transform: translateY(6px);
}

input:checked + .slider {
  background-color: #ffc0c0;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ffa9a9;
}

input:checked + .slider:before {
  -webkit-transform: translate(13px, 5px);
  -ms-transform: translate(13px, 5px);
  transform: translate(13px, 5px);
  background-color: rgb(238, 89, 89);
}

/* Rounded sliders */
.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}

@media only screen and (max-width: 405px) {
  #mainTime,
  #mainTimeMinus1,
  #mainTimePlus1 {
    font-size: 1.05rem;
  }
  #mainCard,
  #mainCardMinus1,
  #mainCardPlus1 {
    font-size: 1rem;
  }
  #prelisTime,
  #prelisTimeMinus1,
  #prelisTimePlus1 {
    font-size: 1.05rem;
  }
  #prelimsCard,
  #prelimsCardMinus1,
  #prelimsCardPlus1 {
    font-size: 1.05rem;
  }
  #eventList {
    font-size: 1rem;
    margin-top: 75px;
    text-align: right;
  }

  .eventLink {
    min-width: 300;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    padding-top: 8px;
    padding-bottom: 4px;
    box-sizing: content-box;
  }
  .setting {
    font-size: 1.1rem;
    padding: 9px;
    margin-left: 15px;
  }
  .switch {
    transform: scale(1.1);
    margin-right: 30px;
  }
  .eventLink {
    font-size: 1rem;
  }
  .socialIcon {
    max-height: 40px;
  }
}

@media only screen and (max-width: 365px) {
  #mainTime,
  #mainTimeMinus1,
  #mainTimePlus1 {
    padding: 6px;
    padding-top: 9px;
    font-size: 0.9rem;
  }

  #hamburger-1 {
    top: -6px;
  }

  #mainCard,
  #mainCardMinus1,
  #mainCardPlus1 {
    font-size: 0.9rem;
  }
  #prelimsTime,
  #prelimsTimeMinus1,
  #prelimsTimePlus1 {
    font-size: 0.9rem;
  }
  #prelimsCard,
  #prelimsCardMinus1,
  #prelimsCardPlus1 {
    font-size: 0.9rem;
  }
  #eventList {
    font-size: 1.05rem;
    margin-top: 75px;
    text-align: right;
  }

  .eventLink {
    min-width: 300;
    border-right: 15px solid transparent;
    border-left: 15px solid transparent;
    padding-top: 12px;
    padding-bottom: 8px;
    box-sizing: content-box;
  }
  .setting {
    font-size: 0.9rem;
    padding: 9px;
    margin-left: 15px;
  }
  .switch {
    transform: scale(0.9);
    margin-right: 30px;
  }
  .eventLink {
    font-size: 0.85rem;
  }
  .socialIcon {
    max-height: 40px;
  }
  #settingsHeader {
    margin-top: 55px;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
  }
  #mainHeader {
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  #imageContainer {
    max-height: 190px;
    min-height: 190px;
  }
}
@media only screen and (min-width: 750px) {
  html {
    zoom: 1.2;
    height: 100%;
    background-color: #ebebeb;
  }
  body {
    max-width: 750px;
    min-height: 1300px;
  }
  #sideNav {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0%;
    width: 270px;
    max-width: 260px;
    background-color: white;
    border-left: 1px solid black;
    border-right: 1px solid black;
    min-height: 1300px;
  }
  #content {
    border-right: 1px solid black;
    min-height: 1300px;
  }
  #settings {
    top: 0;
    transition-duration: 0s;
    width: 260px;
    right: 0;
  }
  .setting {
    margin-left: 10px;
  }
  #settingsIcon:hover {
    cursor: pointer;
  }
  #closeSettings:hover {
    cursor: pointer;
  }
  #closeSettings {
    position: absolute;
  }
  .setting {
    transform: scale(0.75);
  }
}

#countToggleMain {
  display: none;
}

#countTogglePrelims {
  display: block;
}

.x {
  background-color: #ffffff;
  color: #000;
  height: 17px;
  width: 100%;
  font-weight: normal;
  font-size: 14px;
  padding: 3px;
  margin: auto;
}
.y {
  background-color: #b3b3b3;
  height: 16px;
  text-align: center;
  color: rgb(22, 22, 22);
  width: 100%;
  font-size: 11px;
  font-weight: normal;
  padding: 3px;
  margin: auto;
}

.y:hover {
  filter: brightness(1.1);
}

.x:hover {
  filter: brightness(1.1);
}

#toggleContainer {
  position: absolute;
  top: 7px;
}
